<div class="wrapper">
  <div class="border-right" style="display: flex; flex-direction: column; align-items: center;">
    <app-sidebar></app-sidebar>
  </div>
  <div>
    <div>
      <div class="toolbar">
        <div class="filter-input">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-icon icon" id="icon-search">
                <img src="https://i.ibb.co/dmGyr55/search.png" alt="" height="19px" width="19px"/>
              </span>
            </div>
            <form (submit)="setNewFilter(filterInput)" class="border-0 form-control input-border-none">
              <input [(ngModel)]="filterInput"
                name="filter"
                type="text"
                class="border-0"
                placeholder="Filter Tweets"
                id="search"
                autocomplete="off"
              />
            </form>
          </div>
        </div>
      </div>

      <app-tweet-card [tweet]="tweet" *ngFor="let tweet of data$ | async | slice:0:10"></app-tweet-card>
    </div>
  </div>

  <div>
    <div>
      <app-filter-list [data$]="data$"></app-filter-list>
    </div>
  </div>
</div>
